
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section title{
    Unauthorized
}
<div class="alert alert-danger">Bạn không có quyền truy cập trang này!</div>

